<gui>
  <plugin filename="ImageDisplay" name="gz::gui::plugins::ImageDisplay">
    <gz-gui>
      <title>RGB camera</title>
      <property key="state" type="string">floating</property>
      <property key="width" type="double">350</property>
      <property key="height" type="double">315</property>
    </gz-gui>
    <topic>/camera/image</topic>
    <topic_picker>false</topic_picker>
  </plugin>
</gui>
